.root {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .clientsOnline {
    width: 100%;
  }

  .settingsWrapper {
    display: flex;
    justify-content: space-between;

    & > div {
      width: 49%;
    }
    
    @media (max-width: 1650px) {
      flex-direction: column;
      
      & > div {
        width: 100%;
      }
    }

  }
  .infoBlock:not(:last-child) {
    margin-bottom: 10px;
  }

  .infoBlock {
    background-color: rgba(89, 253, 253, 0.685);
    border-radius: 1em;
    padding: 1em;

    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: inline-block;
      margin-left: 10px;
      line-height: 0;
      position: relative;
      width: 38px !important;
    }
  }

  .copyLink {
    width: 100%;
    background-color: rgb(77, 243, 77);
    color: rgb(70, 70, 70);

    &:hover {
      background-color: rgb(39, 219, 39);
    }
  }

  .turn, .onlineInfo {
    margin-bottom: 10px;
  }

  .shortSettings, .turn {
    flex-direction: column;
    justify-content: space-between;

    .infoBlock {
      font-size: 1.3rem;
      white-space: nowrap;
      width: 100%;
      display: flex;
      justify-content: flex-start;

      &:first-child {
        margin-bottom: 10px;
      }

      @media (max-width: 1650px) {
        justify-content: center;
      }
    }
  }
}