.root {
  width: 100%;
  height: calc(100dvh - 110px);
  padding: 0 0 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1300px) {
    height: initial;
    padding: 20px;
  }
  
  @media  (max-width: 650px) {
    padding: 20px 0px 0px 0px;
  }
}
