.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 0;
  outline: 0;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  transition: 0.4s ease all;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  height: 36px;

  &.text {
    color: rgb(63, 63, 63);
  }

  &.filled {
    color: white;
    background-color: rgb(58, 58, 158);

    &:hover {
      background-color: rgb(58, 58, 255);
    }
  }

  &.round {
    padding: 9px 16px;
    border-radius: 18px;
  }

  &.circle {
    width: 36px;
    padding: 9px 0;
    border-radius: 50%;
  }

  &.disabled {
    background-color: rgba(58, 58, 158, 0.1);
    color: black;
    pointer-events: none;
  }
}
