.root {
  position: relative;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

  font-size: 2em;

  transition: background-color 0.2s ease;

  background-color: aquamarine;

  &:nth-child(2n) {
    background-color: rgb(236, 247, 91);
  }

  &.highlighted {
    background-color: #ffa8fd;
  }

  .cellIndex {
    position: absolute;
    color: rgba(128, 128, 128, 0.24);
    font-size: 2em;

    @media  (max-width: 600px) {
      font-size: 1.2em;
    }
  
    @media  (max-width: 400px) {
      font-size: 1em;
    }
  }
}
