.root {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(89, 253, 253, 0.685);

  button {
    position: absolute;
    right: 10px;

    width: 74px;
  }

  .list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 10px;

      
      .link {
        font-size: 1.5em;
        text-decoration: none;

        &.active {
          color: rgb(0, 47, 255);
        }
      }
    }
  }
}
