.root {
  height: 45px;

  width: 100%;

  display: flex;
  justify-content: space-between;

  & > button {
    min-width: 32%;
    min-height: 50px;
    font-size: 1.1em;
  }
  
  @media (max-width: 600px) {
    & > button {
      min-width: 25%;
      min-height: 45px;
      font-size: 1.1em;
    }
  }
}